/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #787878 rgba(237, 237, 237, 0);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: rgba(237, 237, 237, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: #787878;
  border-radius: 16px;
  border: 0px none #c2c2c2;
}

.dotbackground {
  background-image: url("../../../images/endless-constellation.svg");
  background-color: black;
}

body {
  overflow: hidden;
}

li, ul {
  list-style: disc;
}

.home-header {
  margin-top: 12vh;
  margin-bottom: 2vh;
  padding-top: 5vh;
  padding-left: 15vw;
  padding-right: 15vw;
  height: 20vh;
  background-color: rgba(0, 0, 0, 0.3490196078);
}
.home-header h1 {
  font-size: 4rem;
}

.home-body {
  height: 10vh;
}

.action-button {
  background-image: linear-gradient(green, darkgreen);
  width: 12rem;
  height: 4rem;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  border-radius: 1rem;
  border-style: hidden;
  box-shadow: 0px 5px 5px -1px black;
  scale: 1;
  transition: 0.2s;
}
.action-button:hover {
  scale: 1.1;
  transition: 0.2s;
}

.bottom-gradient {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  height: 15vh;
  position: relative;
  top: 45vh;
}

#homepage-background {
  background-image: url("../../../images/homepage.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 88vh;
}

@media screen and (max-width: 700px) {
  .home-header h1 {
    font-size: 2.5rem;
  }
}
aside {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  width: 21rem;
  margin: 2rem;
  border-radius: 0.5rem;
  height: calc(100vh - 4rem);
  background-color: #e0e0e0;
}
aside img {
  display: none;
}

.article-content {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 4.5rem;
  padding-right: 3.5rem;
  width: calc(100vw - 28rem);
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  height: calc(100vh - 4rem);
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: #e0e0e0;
}
.article-content .article-holder img {
  width: 80%;
  height: 30vw;
  margin-left: 10%;
  border-radius: 1.5rem;
  box-shadow: 0px 5px 5px 2px;
  object-fit: cover;
}
.article-content .paragraph {
  text-indent: 5rem;
  line-height: 2;
  letter-spacing: 0.025rem;
}

ul > li > ul > li {
  display: list-item;
}

.nav-links {
  background: 0%;
}

.pg-title {
  font-size: 2.2rem;
}

.pg-heading {
  font-size: 1.7rem;
}

.pg-text {
  font-size: 2rem;
}

@media screen and (max-width: 1300px) {
  aside {
    position: sticky;
    width: 100%;
    margin: 0;
    border-radius: 0;
    height: 9vh;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
  }
  aside img {
    display: block;
    width: calc(8vh - 0.5rem);
    margin-bottom: 1rem;
  }
  .article-content {
    width: calc(100% - 4rem);
    height: calc(90vh - 4rem);
    margin: 2rem;
  }
  .article-content .article-holder img {
    width: 90%;
    margin-left: 5%;
    height: 40vw;
  }
  body.dotbackground {
    flex-direction: column;
  }
  .nav-links {
    background-color: #ccc;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  ul > li > ul > li {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .article-content {
    padding-left: 2rem;
    padding-right: 1rem;
    margin: 1rem;
    width: calc(100% - 2rem);
    height: calc(90vh - 2rem);
  }
  .article-content .paragraph {
    text-indent: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .pg-text {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=main.css.map */